.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    background-color: rgba(252, 252, 252, 1);
    box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F, 0px 1px 2px 0px #00000033;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    border: none;
    fill: #ffffff;
    background-color: rgba(64, 75, 191, 1);
}

.close-btn-icon {
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    color: rgba(46, 47, 66, 1);
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    color: rgba(46, 47, 66, 1);
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
    border-color: var(--prymary-color);
    outline: transparent;
}

.review-form-input:focus+.review-form-field-icon {
    fill: var(--prymary-color);
}

.review-form-input-wrapper {
    position: relative;

}

.review-form-field-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: rgba(46, 47, 66, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-wrapper-comment {
    margin-bottom: 16px;
}

.review-form-comment {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    text-align: left;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.review-form-comment:focus {
    border-color: var(--prymary-color);
    outline: transparent;
    color: rgba(46, 47, 66, 1);
}

.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked+.review-form-checkbox-label>.review-form-own-checkbox {
    background-color: rgba(64, 75, 191, 1);
    fill: rgba(244, 244, 253, 1);
    border: none;
}

.review-form-checkbox:focus+.review-form-checkbox-label>.review-form-own-checkbox {
    outline: 1px solid rgba(64, 75, 191, 1);
}

.review-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
}

.review-form-privacy-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--prymary-color);
    text-decoration: underline;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    cursor: pointer;
    background-color: var(--prymary-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit:hover,
.review-form-submit:focus {
    background-color: #404BBF;
}