.page-footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.page-footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    margin-bottom: 72px;
}

.footer-link-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
}

.footer-link-logo .logo {
    color: #F4F4FD;
}

.paragraph-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}

.social-icon-container {
    margin-right: 80px;
}

.footer-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.footer-social-item-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prymary-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item {
    width: 40px;
    height: 40px;
    border: 1px;
    border-radius: 50%;
    background-color: #4D5AE5;
}

.footer-social-icon {
    justify-content: center;
    align-items: center;
    fill: var(--light);
}

.footer-social-item-link:hover,
.footer-social-item-link:focus {
    background-color: #31D0AA;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-label {
    gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 1);
}

.footer-form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(46, 47, 66, 1);
}

.footer-btn {
    display: flex;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: var(--prymary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-icon {
    margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404BBF;
}

@media screen and (max-width: 757px) {
    .page-footer-container {
        align-items: center;
        flex-direction: column;
    }

    .footer-logo-container {
        text-align: center;
    }

    .paragraph-footer {
        width: 288px;
        text-align: left;
    }

    .footer-header {
        text-align: center;
    }

    .social-icon-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }

    .subscribe-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-form {
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .page-footer-container {
        margin-left: 108px;
        flex-wrap: wrap;
    }

    .footer-logo-container {
        margin-right: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .page-footer {
        padding: 100px 0;
    }

    .footer-logo-container {
        margin-right: 120px;
        margin-bottom: 0;
    }
}