@media screen and (max-width: 767px) {
    .hero-section {
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/mobile/hero_m@1x.jpg');
    }

    .header-one {
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
        max-width: 288px;
    }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (max-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/mobile/hero_m@2x.jpg');
    }
}

.hero-section {
    max-width: 100%;
    background: rgba(46, 47, 66, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section-container {
    text-align: center;
}

.header-one {
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button-hero-section {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #4D5AE5;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 0px #00000026;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero-section:hover,
.button-hero-section:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .hero-section {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/tablet/hero_t@1x.jpg');
        https: //m1r0k.github.io/goit-markup-hw-06/css/layout/images/hero/tablet/hero_d@1x.jpg}

            .header-one {
            margin-bottom: 36px;
        }
    }

    @media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px),
    screen and (max-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/tablet/hero_t@2x.jpg');
        }
    }

    @media screen and (min-width: 1158px) {
        .hero-section {
            padding-top: 188px;
            padding-bottom: 188px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/desktop/hero_d@1x.jpg');
        }

        .header-one {
            margin-bottom: 48px;
        }

    }

    @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px),
    screen and (max-device-pixel-ratio: 2) and (min-width: 1158px) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/desktop/hero_d@2x.jpg');
        }
    }