/* .team-section,
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-section {
    background-color: #F4F4FD;
    text-align: center;
}

.team-section-title,
.portfolio-section-title {
    margin-bottom: 72px;
}

.team-list,
.member-social-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100%-3*24)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-text .header-three,
.portfolio-list-item .header-three {
    margin-bottom: 8px;
} */