.portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-section-title {
    margin-bottom: 72px;
}

.portfolio-list-item .header-three {
    margin-bottom: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    padding: 40px 32px;
    background: rgba(77, 90, 229, 1);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .photo {
        width: 288px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .portfolio-list {
        row-gap: 72px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    .photo {
        width: 356px;
    }

}

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
    }

    .photo {
        width: 360px;
    }

}