.team-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-section {
    background-color: #F4F4FD;
    text-align: center;
}

.team-section-title {
    margin-bottom: 72px;
}

.team-list,
.member-social-list {
    display: flex;
    justify-content: center;
}

.team-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}

.member-social-list {
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-list-item-text {
    padding: 32px 0;
    text-align: center;
}

.member-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-social-item {
    width: 40px;
    height: 40px;
    border: 1px;
    border-radius: 50%;
    background-color: #4D5AE5;
}

.member-social-icon {
    margin: 12px;
    fill: var(--light);
}

.member-social-item:hover,
.member-social-item:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-list-item {
        width: calc((100% - 24) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list-item {
        width: calc((100% - 3*24) / 4);
    }
}